*{
    margin: 0;
    padding: 0;
    /* background-color: #121212; */
    /* overflow: hidden; */
}
body{
    background-image: url(images/background-spoon-fork-final.svg);
}
 
#logo{
    height: 100px;
    justify-self: flex-start;
   
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0,0,0,0.5);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    list-style: none;
    padding-right:30px ;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', serif;
}

nav a:hover{
    cursor: pointer;
    color: #FFB74D;    ;
    transition: #FFB74D 0.9s ease-in-out;
}
nav h1{
    font-family: 'Dancing Script', cursive;
    color: #FF9800;
    font-size: 2.5rem;
}

hr{
    border: none;
    padding-top: 2px;
    background-color: #2C2C2C;
}


#maindish1{
    height: 600px;
    position: absolute;
    z-index: 0;
    /* align-items: right; */
    top: 40px;
    right: 0;
    animation-name: circle;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.main-cont{
    /* display: flex;
    justify-content: center; */
    align-content: center;
    position: relative;
    padding-right: 100px;
}

/* .main-cont #maindish1{
    position: fixed;
    z-index: 100;
} */
#tagline{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #FFE0B2;
    position: relative;
    left: 150px;
    top:170px;
    font-size: 1.3em;
    min-width: 100px;
    max-width: 50vh;
}
#tagline h2{
    font-size: 1.5em;
}
#main-text{
    font-family: 'EB Garamond', serif;
    position: relative;
    color: #FFFFFF;
    top: 200px;
    left: 45px;
    margin-right: 650px;
    max-width: 650px;
    font-size: 1.1em;
}

#btn button{
    background-color: #FF9800;
    color: #121212;
    padding: 17px;
    border-radius: 30px;
    position: relative;
    top: 250px;
    left: 300px;
    transition: transform 0.3s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.4);
}

@keyframes circle {
    to{
        transform: rotate(0);
    }
    from{
        transform: rotate(360deg);
    }
}

/* menu */

.menu-box img{
    height: 200px;
    border: #2C2C2C 5px solid;
}

.menu-box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* .main-dish, .starters, .mexican, .drinks, .south-indian{
    display: flex;
    justify-content: center;
} */

/* .main-dish, .starters, .mexican, .drinks, .south-indian > h2{
    font-size: 2rem;
    color: #FFFFFF;
} */

.menu-items{
    color: #FFFFFF;
}

.menu-items img{
    border-radius: 20px;
    margin: 40px;
    transition: transform 0.3s ease;
}
.menu-items img:hover{
    transform: scale(1.2);
}
.menu-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}
.menu-title{
    text-align: center;
    color: orange;
    font-size: 2.2rem;
    margin: 40px 0 20px;
    font-family: "Great Vibes";
}

.item-name{
    font-family: "Playfair Display";
    font-size: 1.2rem;
}
.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.item-text{
    text-align: center;
    max-width: 200px;
    color: lightgray;
    font-style: italic;
}

/* about */
.about-container{
    padding-top: 40px;
    color: #FFFFFF;
    text-align: center;

}

.about-heading{
    color: #FF9800;
    font-family: "Great Vibes";
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.about-text{
    font-family: "Playfair Display";
    margin: 20px;
    margin-bottom: 70px;
    line-height: 1.7em;
}

.chef-name{
    font-size: 1.8em;
    color: #FF8C00;
    font-family: 'Cormorant Garamond';
    font-weight: bold;
}

.about-text ul{
    list-style: none;
}

/* gallery */

.gallery{
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.gal-item{
    display:flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
}

.gal-item img{
    height: 300px;
    border-radius: 10px;
    border: #2C2C2C 5px solid;
    transition: transform 0.3s ease;
}

.gal-item img:hover{
    transform: scale(1.2);
}
.gal-title{
    text-align: center;
    font-size: 3rem;
    color: #FF9800;
    font-family: "Great Vibes";
    margin-top: 30px;
}

.gal-sub{
    font-style: italic;
    color: lightgrey;
    text-align: center;
}