*{
    margin: 0;
    padding: 0;
    background-color: #121212;
    /* overflow: hidden; */
}
 
#logo{
    height: 100px;
    justify-self: flex-start;
   
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    list-style: none;
    padding-right:30px ;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', serif;
}

nav a:hover{
    cursor: pointer;
    color: #FFB74D;    ;
    transition: #FFB74D 0.9s ease-in-out;
}
nav h1{
    font-family: 'Dancing Script', cursive;
    color: #FF9800;
    font-size: 2.5rem;
}

hr{
    border: none;
    padding-top: 2px;
    background-color: #2C2C2C;
}


#maindish1{
    height: 600px;
    position: absolute;
    z-index: 0;
    /* align-items: right; */
    top: 90px;
    right: 0;
    animation-name: circle;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.main-cont{
    /* display: flex;
    justify-content: center; */
    align-content: center;
    position: relative;
    padding-right: 100px;
}

/* .main-cont #maindish1{
    position: fixed;
    z-index: 100;
} */
#tagline{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #FFE0B2;
    position: relative;
    left: 150px;
    top:170px;
    font-size: 1.3em;
    min-width: 100px;
    max-width: 50vh;
}
#tagline h2{
    font-size: 1.5em;
}
#main-text{
    font-family: 'EB Garamond', serif;
    position: relative;
    color: #FFFFFF;
    top: 200px;
    left: 45px;
    margin-right: 650px;
    max-width: 650px;
    font-size: 1.1em;
}

#btn button{
    background-color: #FF9800;
    color: #121212;
    padding: 17px;
    border-radius: 30px;
    position: relative;
    top: 250px;
    left: 300px;
    transition: background-color 1s ease-in-out, transfrom 0.2s ease;
}
button:hover{
    cursor: pointer;
    transform: scale(1.4);
    background-color: #FFB74D;
}

@keyframes circle {
    to{
        transform: rotate(0);
    }
    from{
        transform: rotate(360deg);
    }
}

/* menu */

img{
    height: 200px;
}

.menu-box{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.main-dish, .starters, .mexican, .drinks, .south-indian{
    display: flex;
    justify-content: center;
}

/* .main-dish, .starters, .mexican, .drinks, .south-indian > h2{
    font-size: 2rem;
    color: #FFFFFF;
} */

.menu-items{
    color: #FFFFFF;
}

.menu-items img{
    border-radius: 10px;
    margin: 40px;
}

.menu-title{
    font-size: 1.3rem;
    margin-top: 1rem;
    align-self: center;
}

.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: red;
}